<div id="ficha">
    
    <h1>{{player.Nombre}}</h1>

    <hr>
    
    
    <div id="datos">
        <img src="{{player.Imagen}}" alt="">
        
        <div id="fichaDerecha">
                <br><br><br><br>
                <h3>Liga: {{player.Liga}}</h3>
                <h3>Equipo: {{player.Equipo}}</h3>
                <h3>Posición: {{player.Posicion}}</h3>
                <h3>Nacionalidad: {{player.Nacionalidad}}</h3>
                <h3>Edad: {{player.Edad}}</h3>
                <h3>Altura: {{player.Altura}}</h3>
                <h3>Cantidad de Goles: {{player.Goles}}</h3>
                <h3>Precio: {{player.Valor}} millones de euros</h3>
            </div>
        
    </div>

    
    

</div>