
#reglas{
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

form{
    text-align: center;
    justify-content: center;
}

#intentos{
    font-size: 2rem;
    text-align: center;
    justify-content: center; 
}

table{
    text-align: center;
}