*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(56, 55, 55);
    color: white;
    padding: 0%;
    margin: 0%;
}

h1{
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2%;
    padding-top: 2%;
}

table{
    padding: 0%;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}

table, td, th{
    border: solid;
}

td img{
    height: 100px;
    border-radius: 50%;
}

#advertencia{
    color: red;
    font-size: 0.6rem;
}