<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form class ="buscador" (ngSubmit) = "guardar_nombre_equipo(formTemplate)" #formTemplate ="ngForm">

  

        <div>
            <label for="nombre_equipo">Nombre del equipo</label>
            <input type="text" id="nombre_equipo" name="nombre_equipo" ngModel>

        </div>

        <div>
            <button type="submit"> ENVIAR </button>
        </div>


    </form>
        
        <h1 class="jugadores"> Jugadores de ese equipo </h1>
        
        
        <div id="lista">
            <ul>
                <li  *ngFor="let datos of lista_jugadores"> {{ datos }} <br><br> </li>
            </ul>
            
        </div>
            




    
</body>
</html>