img{
    padding-left: 5%;
    width: 40%;
}

#datos{
    display: flex;
}

hr{
    top: 10px;
    height: 10px;
    color: black;
}

#ficha{
    border: solid 3px;
    padding: 2%;
    margin: 2%;
    border-radius: 10%;
    background-color: grey;
    justify-content: center;
}

#fichaDerecha{
    padding-left: 10%;
}

h1{
    font-size: 3.7rem;
}

h3, summary{
    font-size: 2rem;
}
summary{
    font-weight: 600;
}

img{
    size: 0.5rem;
}
ul{
    list-style: none;
}

li{
    font-size: 1.7rem;
    font-weight: 500;
}

details{
    justify-content: center;
    text-align: center;
}