<nav>
    <ul>
        <li>
            <a routerLink="/home"><img src="https://static.vecteezy.com/system/resources/previews/015/082/027/original/classic-soccer-ball-or-football-png.png" alt=""height="60px"></a>
        </li>
        <li>
            <a routerLink="/playerList" routerLinkActive="active-link">Lista de Jugadores</a>
        </li>
        <li>
            <a routerLink="/dreamteam" routerLinkActive="active-link">Armar Dreamteam</a>
        </li>
        <li>
            <a routerLink="/guessPlayer" routerLinkActive="active-link">Adivinar Jugador</a>
        </li>
    </ul>
</nav>