nav{
    font-size: 1.7rem;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(23, 8, 75);
    border-bottom: solid 1px black;
    color: white;
    margin: 0%;
    padding: 0%;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
}

nav a{
    float: left;
    text-decoration: none;
    color: white;
}

.active-link a{
    color: black;
}

.dropbtn {
    background-color: rgb(23, 8, 75);
    color: white;
    padding: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(23, 8, 75);
    padding: 7%;
    padding-right: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
  }

  .itemlist{
    padding-bottom: 20%;
  }

  .item{
    padding-top: 1%;
  }
  
  .dropdown-items{
    display: flex;
    flex-direction: column;  
  }
    .dropdown-content li:hover{
      background-color: rgb(23, 8, 75) !important;
    }
  .dropdown:hover .dropdown-content {display: block;}

  .dropdown-content a:hover {text-decoration:underline}
