<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1> Arma tu equipo soñado! </h1>

<div *ngIf="modalswitch != true">
    <h4>1- Abri la carga de Jugadores</h4>
<h4>2- Selecciona la posicion en la que queres que juegue</h4>
<h4>3- Escribi tu jugador</h4>
<p>** Favor de notar que debe estar escrito exactamente como figura en la lista</p>
</div>


<div class="cancha">
    
    <button class="abrir_modal btn btn-secondary" (click)="openmodal()"> Abrir carga de jugadores </button>
    
    <div class="ar" (click)="openmodal()"> 
        <div class="" *ngIf="modalswitch == true"> 
            <app-modal></app-modal>
        </div>
    </div>
</div>






<!-- 
<div class = "cancha">
    
    <h2> Lista de jugadores </h2>
    <ul>
        <li *ngFor ="let item of data.players">
            {{item.Nombre}}
            {{item.Nacionalidad}}
        </li>
    </ul>
    
    
</div>
-->

    

</body>
</html>






