body{
    background-size: cover;
    height: 700px;
}

h1{
    padding-top: 2%;
    font-size: 3rem;
    text-align: center;
}

.cancha{
    background-image: url('https://img.freepik.com/fotos-premium/campo-futbol-arriba_68747-92.jpg'); 
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
}

h4, p{
    padding-top: 1%;
    text-align: center;
}

p{
    font-size: 0.7rem;
}


.ar{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 24.5rem;
    left: 30rem;
    border-radius: 50%;
}


.equipo_final{
    background-color: rgb(57, 223, 223);
}

.abrir_modal{
    position: relative;
    height: 5rem;
    width: 10rem;
    top: 5rem;
    left: 7rem;
}


