body{
    background: url("https://raw.githubusercontent.com/codigodehoy/api-futbol/master/futbol.jpg") center no-repeat;
    background-size: cover;

    
    height: 700px;

}

h1{
    background-color: rgb(3, 115, 189);
    color: rgb(235, 30, 30);
    
    text-align: center;
    

}

.cancha{

    background-image: url('https://img.freepik.com/fotos-premium/campo-futbol-arriba_68747-92.jpg'); 
    background-repeat: no-repeat;
    background-position: center center;
   
    height: 650px;


}


.ld{

    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 33rem;
    left: 38rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;

}

.ar{

    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 24.5rem;
    left: 30rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;

}

.li{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 16rem;
    left: 38rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;
}

.dfci{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 28rem;
    left: 35rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;
}

.dfcd{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 21.5rem;
    left: 35rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;
}

.mcd{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 24.5rem;
    left: 42rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;
}

.mcoi{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 19rem;
    left: 47rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;
}

.mcod{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 30rem;
    left: 47rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;
}

.ei{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 16rem;
    left: 54rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;
}

.dc{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 24.5rem;
    left: 58rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;
}

.ed{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 32.5rem;
    left: 54rem;
    background-color: rgb(235, 5, 5);
    border-radius: 50%;
}


.equipo_final{
    background-color: rgb(57, 223, 223);
}

.abrir_modal{
    background-color: rgb(241, 0, 0);
    position: relative;
    color: rgb(10, 10, 230);
    height: 5rem;
    width: 5rem;
    top: 5rem;
    left: 10rem;
}


