<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="page">
        <div id="selector">
            <form id="selectFormation" [formGroup] = "formationInput" (submit)="selectFormation()">
                <select class="form-control" formControlName="formation">
                    <option value="noFormacion">--Selecciona una Formación--</option>
                    <option value="FormacionA">3 - 2 - 2 - 3</option>
                    <option value="FormacionB">1 - 3 - 3 - 3</option>
                    <option value="FormacionC">4 - 4 - 1 - 1</option>
                </select>
                <button type="submit" class="btn btn-primary">Elegir Formación</button>
            </form>

            <button id="exportToPDF" class="btn btn-primary" (click)="exportToPdf()">Exportar a PDF</button>
        </div>
    
    
    
        <div id="cancha" #cancha>
            <div class="container">
                <div id="wrap" class="{{selectedFormation}}">
                    <div id="jug1" (click)="selectPos('0')"> <img src="{{playerArray[0]}}" alt=""></div>
                    <div id="jug2" (click)="selectPos('1')"> <img src="{{playerArray[1]}}" alt=""></div>
                    <div id="jug3" (click)="selectPos('2')"> <img src="{{playerArray[2]}}" alt=""></div>
                    <div id="jug4" (click)="selectPos('3')"> <img src="{{playerArray[3]}}" alt=""></div>
                    <div id="jug5" (click)="selectPos('4')"> <img src="{{playerArray[4]}}" alt=""></div>
                    <div id="jug6" (click)="selectPos('5')"> <img src="{{playerArray[5]}}" alt=""></div>
                    <div id="jug7" (click)="selectPos('6')"> <img src="{{playerArray[6]}}" alt=""></div>
                    <div id="jug8" (click)="selectPos('7')"> <img src="{{playerArray[7]}}" alt=""></div>
                    <div id="jug9" (click)="selectPos('8')"> <img src="{{playerArray[8]}}" alt=""></div>
                    <div id="jug10" (click)="selectPos('9')"> <img src="{{playerArray[9]}}" alt=""></div>
                    <div id="jug11" (click)="selectPos('10')"> <img src="{{playerArray[10]}}" alt=""></div>  
                </div>
            </div>
        </div>


        <div id="containerBuscador" *ngIf="posSelected != -1">
            <div id="buscadorCSS">
                    <form id="buscador" [formGroup]= "selectedPlayer" (submit)="selectPlayer()">
                        <fieldset>
                            <legend>Buscar Jugador</legend>
                            <div>
                                <label for="nombre">Nombre</label>
                                <input  type="text" class="form-control" formControlName="player">
                            </div>
                            <br>
                            <div>
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>
                            
                        </fieldset>
                    </form>   
            </div>
        </div>
    </div>

        
        
    
</body>
</html>