
<div class="modal">
    <div class="modal_body">
        
        <form (ngSubmit) = "savedata(formTemplate)" #formTemplate ="ngForm">
           
            <div id="">
                
                <label for="nombre">Nombre a buscar</label>
                <input  type="text" id="nombres" name="nombre" required ngModel >
                
            </div>
            <div>
                <label for="posicion">Posicion</label>
                <select name="" id="" name="posicion" ngModel required > 
                    <option value="" disabled selected> -- Seleccione -- </option>
                    <option value="Portero">Portero</option>
                    <option value="Lateral izquierdo">Lateral izquierdo</option>
                    <option value="Defensa central izquierdo">Defensa central izquierdo</option>
                    <option value="Defensa central derecho">Defensa central derecho</option>
                    <option value="Lateral derecho">Lateral derecho</option>
                    <option value="Medio campista defensivo">Medio campista defensivo</option>
                    <option value="Medio campista ofensivo">Medio campista ofensivo</option>
                    <option value="Medio campista ofensivo">Medio campista ofensivo</option>
                    <option value="Extremo izquierdo">Extremo izquierdo</option>
                    <option value="Delantero centro">Delantero centro</option>
                    <option value="Extremo derecho">Extremo derecho</option>
                </select>
            </div>
            
            <div>
                <button type="submit">Buscar</button>
            </div>

            <div id="imagenes">
                <img id="imagen" [src]="imageUrl"> 
            </div>

            <div class="ver_equipo_final" >
                <div>
                    <h1> Tu Equipo </h1>
                    <div>
                        <ul>
                          <ng-container *ngFor="let item1 of equipo_final; let i = index">
                            <li>{{ item1 }}</li>
                            <p *ngIf="posicion_final[i]">{{ posicion_final[i] }}</p>
                          </ng-container>
                      
                          
                          <ng-container *ngFor="let item2 of posicion_final; let i = index">
                            <li *ngIf="i >= equipo_final.length">{{ item2 }}</li>
                          </ng-container>
                        </ul>
                      </div>
                </div>
            </div>
        </form>
    </div>
</div>